.header {
    padding: 28px 85px;
    border: 1px solid #707070;

    .container {
        position: relative;

        .logo {
            font-size: 24px;
            line-height: 24px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        ul {
            li {
                margin-right: 32px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    &:hover {
                        color: #E31277;
                    }
                }
            }
        }
    }
}

.footer {
    background-image: url(../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg);
    height: 400px;
    @include bg-cover;
}