// 顏色
$pink: #E31277;
$purple: #630834;
$dark-purple: #190014CC;

@mixin bg-cover {
    background-position: center center;
    background-size: cover;
}

//取消連結底線
a {
    text-decoration: none;
}

//導覽列預設樣式
.navbar-hover {
    border: 1px solid #707070;

    .nav-item {
        margin-right: 18px;

        &:last-child {
            margin-right: 0px;
        }

        .nav-link {
            transition: all .3s;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid #E31277;
            }
        }
    }

}

//文字共同樣式
.title {
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.title-word {
    font-size: 20px;
    line-height: 30px;
}

.word {
    font-size: 16px;
    line-height: 24px;
}

//FB icon設定
.fa-facebook {
    font-size: 20px;

    &:hover {
        color: #035397;
    }
}