<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container d-flex">
      <h1 class="logo d-flex justify-content-center">
        <a href="index.html">EXHIBINECTION</a>
      </h1>
      <ul class="list-unstyled d-flex ms-auto align-items-center">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">
            <i class="fas fa-ticket-alt"></i>
          </a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <div class="like my-5">
    <div class="container">
      <h3 class="title">猜你也喜歡...</h3>
      <div class="row d-flex justify-content-end">
        <a href="#" class="col-4">
          <div class="img-box"
            style="background-image: url(./assets/images/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg);">
          </div>
          <h5 class="title-word fw-bold">No.22 線上設計展</h5>
          <p class="title-word">$350</p>
        </a>
        <a href="#" class="col-4">
          <div class="img-box" style="background-image: url(./assets/images/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg);">
          </div>
          <h5 class="title-word fw-bold">No.22 線上設計展</h5>
          <p class="title-word">$350</p>
        </a>
        <a href="#" class="col-3">
          <div class="img-box"
            style="background-image: url(./assets/images/museums-victoria-kiDwVL_5ZBY-unsplash\ \(1\).jpg);">
          </div>
          <h5 class="title-word fw-bold">No.22 線上設計展</h5>
          <p class="title-word">$350</p>
        </a>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer d-flex align-items-end">
      <div class="container">
        <div class="row">
          <div class="col-4 mb-5">
            <h2 class="text-white title m-0">想收到展覽的最新消息嗎？</h2>
            <h2 class="text-white title mb-2">快訂閱我們！</h2>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-email" placeholder="輸入您的電子信箱" aria-label="Username"
                aria-describedby="basic-addon1">
              <a href="#" class="btn btn-pink">訂閱</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex py-3">
      <h1 class="logo d-flex justify-content-center">
        <a href="#" class="me-2">EXHIBINECTION</a>
      </h1>
      <p class="copy-right">© 2020. All Rights Reserved.</p>
      <ul class="list-unstyled d-flex ms-auto align-items-center">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>